# Ex1 - Filtering and Sorting Data

Check out [Chipotle Exercises Video Tutorial](https://youtu.be/ZZPiWZpdekA) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [20]:
import pandas as pd
pd.options.display.max_columns=20

### Step 2. Import the dataset from this [URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [32]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [22]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. Sort by the name of the item

In [ ]:
#chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 5. What was the quantity of the most expensive item ordered?

In [57]:
chipo.sort_values(by = "item_price", ascending = False).head(1)
#chipo.sort_values(by = 'quantity', ascending = False).head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 6. How many times was a Veggie Salad Bowl ordered?

In [69]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
print(chipo_salad[['order_id','item_name']])

print(chipo_salad.shape)
len(chipo_salad)    # ได้มาเป็น array เลยเอามาหา len ได้เลย

      order_id          item_name
186         83  Veggie Salad Bowl
295        128  Veggie Salad Bowl
455        195  Veggie Salad Bowl
496        207  Veggie Salad Bowl
960        394  Veggie Salad Bowl
1316       536  Veggie Salad Bowl
1884       760  Veggie Salad Bowl
2156       869  Veggie Salad Bowl
2223       896  Veggie Salad Bowl
2269       913  Veggie Salad Bowl
2683      1066  Veggie Salad Bowl
3223      1289  Veggie Salad Bowl
3293      1321  Veggie Salad Bowl
4109      1646  Veggie Salad Bowl
4201      1677  Veggie Salad Bowl
4261      1700  Veggie Salad Bowl
4541      1805  Veggie Salad Bowl
4573      1818  Veggie Salad Bowl
(18, 5)

18

### Step 7. How many times did someone order more than one Canned Soda?

In [64]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
print(chipo_drink_steak_bowl)
len(chipo_drink_steak_bowl)

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

20

### Step 8. How many products cost more than $10.00?

In [40]:
# clean the item_price column and transform it in a float
if chipo.item_price[0] == '$':
  prices = [float(value[1 : len(chipo.item_price)]) for value in chipo.item_price]    #เอาตัวสกุลเงิน $ ออกและ convert to float (float64)

# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]

chipo.query('item_price > 10').item_name.nunique()

(1949, 5)
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
5            3         1                           Chicken Bowl
...        ...       ...                                    ...
4602      1827         1                       Barbacoa Burrito
4607      1829         1                          Steak Burrito
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
...                                                 ...         ...
4602                      [Tomatillo Green Chili Salsa]        9.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...       11.75
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        9.25

[1806 rows x 5 columns]

31

In [30]:
chipo_filtered

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [29]:
chipo.query('item_price > 10').item_name.nunique()
chipo.query('item_price > 10').item_name

4             Chicken Bowl
5             Chicken Bowl
7            Steak Burrito
13            Chicken Bowl
23         Chicken Burrito
               ...
4610         Steak Burrito
4611        Veggie Burrito
4617         Steak Burrito
4618         Steak Burrito
4619    Chicken Salad Bowl
Name: item_name, Length: 1130, dtype: object

In [24]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 9. What is the price of each item?

In [33]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75

In [42]:
# delete the duplicates in item_name, quantity (item_name จะไม่ซ้ำแล้ว)
chipo_filter = chipo.drop_duplicates(['item_name','quantity'])
print(chipo_filter)
print(chipo_filter.shape)

# select only the products with quantity equals to 1
chipo_one_pd = chipo_filter[chipo_filter.quantity == 1]
print(chipo_one_pd)
print(chipo_one_pd.shape)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
3890      1559         2                  Carnitas Crispy Tacos
3973      1592         4                      Canned Soft Drink
4152      1660        10                          Bottled Water
4354      1738         2                       Steak Soft Tacos
4489      1786         4                    Chips and Guacamole

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
3890     [Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]       17.98
3973                                             [Coke]        5.00
4152                                                NaN       15.00
4354            [Fresh Tomato Salsa, [Cheese, Lettuce]]       18.50
4489                                                NaN       17.80

[103 rows x 5 columns]
(103, 5)
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
5            3         1                           Chicken Bowl
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
16           8         1                        Chicken Burrito
21          11         1                       Barbacoa Burrito
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
33          17         1                          Carnitas Bowl
34          17         1                          Bottled Water
38          18         1  Chips and Tomatillo Green Chili Salsa
39          19         1                          Barbacoa Bowl
40          19         1                                  Chips
44          20         1                     Chicken Salad Bowl
54          25         1                             Steak Bowl
56          26         1                    Barbacoa Soft Tacos
57          26         1                         Veggie Burrito
62          28         1                            Veggie Bowl
92          40         1                     Steak Crispy Tacos
111         49         1    Chips and Tomatillo Red Chili Salsa
168         75         1                  Barbacoa Crispy Tacos
186         83         1                      Veggie Salad Bowl
191         85         1     Chips and Roasted Chili-Corn Salsa
233        102         1     Chips and Roasted Chili Corn Salsa
237        103         1                    Carnitas Soft Tacos
250        109         1                          Chicken Salad
263        114         1                      Canned Soft Drink
298        129         1                      6 Pack Soft Drink
300        130         1    Chips and Tomatillo-Red Chili Salsa
510        214         1                                Burrito
520        217         1                           Crispy Tacos
554        230         1                  Carnitas Crispy Tacos
606        250         1                       Steak Salad Bowl
664        276         1                            Steak Salad
673        279         1                                   Bowl
674        279         1      Chips and Mild Fresh Tomato Salsa
738        304         1                      Veggie Soft Tacos
1132       468         1                    Carnitas Salad Bowl
1229       501         1                    Barbacoa Salad Bowl
1414       575         1                                  Salad
1653       668         1                    Veggie Crispy Tacos
1694       686         1                           Veggie Salad
3750      1500         1                         Carnitas Salad

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
6                                                   NaN        1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...        9.25
10                                                  NaN        4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...        8.75
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...        8.49
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...        8.99
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...        8.99
28                                         [Dr. Pepper]        1.09
33    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...        8.99
34                                                  NaN        1.09
38                                                  NaN        2.95
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.75
40                                                  NaN        2.15
44    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75
54    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...        8.99
56    [Fresh Tomato Salsa, [Fajita Vegetables, Black...        9.25
57    [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
62    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
92                     [Fresh Tomato Salsa, Sour Cream]        9.25
111                                                 NaN        2.95
168   [Tomatillo Red Chili Salsa, [Rice, Black Beans...       11.75
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
191                                                 NaN        2.39
233                                                 NaN        2.95
237   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...        9.25
250   [Roasted Chili Corn Salsa (Medium), [Black Bea...       10.98
263                                              [Coke]        1.25
298                                            [Sprite]        6.49
300                                                 NaN        2.39
510   [Adobo-Marinated and Grilled Chicken, Pinto Be...        7.40
520                 [Adobo-Marinated and Grilled Steak]        7.40
554                          [Roasted Chili Corn Salsa]        9.25
606   [Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...       11.89
664   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...        8.99
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...        7.40
674                                                 NaN        3.00
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
1132  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.89
1229  [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...       11.89
1414  [Brown Rice, Adobo-Marinated and Grilled Chick...        7.40
1653  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49
1694  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...        8.49
3750  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...        8.99
(50, 5)

In [55]:
chipo_one_pd[['item_name','item_price']].sort_values(by='item_price',ascending=False)
#chipo_one_pd.sort_values(by='item_price',ascending=False)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

In [46]:
_p# reassign the column with the cleaned prices
chipo.item_price = prices

# delete the duplicates in item_name, quantity, and choice_description มีตัว choice description ด้วยที่ทำให้ราคามันต่างกัน
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
print(chipo_filtered.shape)

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
print(chipo_one_prod)

(1949, 5)
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
5            3         1                           Chicken Bowl
...        ...       ...                                    ...
4602      1827         1                       Barbacoa Burrito
4607      1829         1                          Steak Burrito
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
...                                                 ...         ...
4602                      [Tomatillo Green Chili Salsa]        9.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...       11.75
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        9.25

[1806 rows x 5 columns]

In [47]:
chipo_one_prod[['item_name','choice_description','item_price']]

,item_name,choice_description,item_price
0,Chips and Fresh Tomato Salsa,NaN,2.39
1,Izze,[Clementine],3.39
2,Nantucket Nectar,[Apple],3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...
4602,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25